.tituloRTD {
    margin-left: 15%;
}

.divPrincipal {
    margin-top: 20%;
    background-color: #2EAEE14D;
    height: 260px;
}

.real-time-database {
    margin-top: 15%; 
}

.botao {
    margin-left: 33%;
}

#usersList {
    float: right;
    margin-right: 20%;
}